# MONGODB_URI: Your MongoDB connection string
MONGODB_URI=mongodb+srv://googleaiapp:googleaiapp@googleai.zule77m.mongodb.net/?appName=googleai
# JWT_SECRET: Secret key for JWT signing
JWT_SECRET=
# OPENROUTER_API_KEY: Your OpenRouter API key
OPENROUTER_API_KEY=
# GEMINI_API_KEY: Required for Gemini AI API calls (fallback or image gen)
GEMINI_API_KEY=AIzaSyBM9Fg-s1kcyt95V4X_cG9qsaIuGYaydTM
